{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'books:index' %}">
        <span style="color:purple">Book</span>Lib
      </a>
      <li class="nav-item"> 
        <a class="nav-link">Новая книга</a>
      </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Регистрация</a>
        </li>
      </ul>
    </div>
  </nav>      
</header>  